.approve-swap {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px 14px;
  font-size: 16px;
  background-color: #99e4fb;
  min-width: 40%;
  color: #000;

}

.approve-swap__exchange-token {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.approve-swap__token-price {
  font-size: 20px;
  margin: 10px 0;
}

.approve-swap__token-btn {
  width: 100%;
}
