.farm {
  max-width: 1000px;
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
}

.farm__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 12px;
  width: 75%;
}

.farm__info-name {

}

.farm .farm-position {
  margin-bottom: 20px;
}
